body {
    color: aquamarine;
}

.heading {
    padding: .5em;
    color: green;
}

#lorem {
    padding: .75em;
    color: brown;
}

a:hover {
    text-decoration: none;
    color: yellowgreen;
}

p::first-line {
    font-size: 120%;

}

button:hover {
    color: blue;
    background-color: black;
}

button {
    padding: .5em;
    margin-top: .5em;
}